<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>Accueil</title>
</head>
<body>
    <div class="content">
            <div class="partie1">
                <!-- <img alt="Vue" src="../assets/logo2.png"> -->
                <span><small>S</small>top<small>C</small>landestine</span>
                <nav>
                    <div class="menu-item"><a href="" class="lien" >Home</a></div>
                    <div class="menu-item"><a href="" class="lien" >About</a></div>
                    <div class="menu-item"><a href="" class="lien" >Services</a></div> 
                    <div class="menu-item"><a href="" class="lien" >Contact</a></div>  
                </nav>
                <div class="menu-item consul"><a href="">Connexion</a></div> 
            </div>
        <div class="cland">
            <h1>stop clandestine vesr l'occident</h1>
            <p>
            
                Résultat de recherche d'images pour "lutter contre l'immigration clandestine"
                Il faut également promouvoir et soutenir les solutions entrepreneuriales des jeunes pour faire émerger des modèles de réussites locaux,
                ce qui a pour effet d'inspirer d'autres jeunes à rester et à devenir à leur tour des acteurs du changement.
            </p>
            <a href="" class="btn">view more</a>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>